body{
    margin: 0;
}
/*見出し*/
.ovi{
    height:85px;
    width:100%;
    background-color:  rgb(24, 85, 97);
    position: fixed;
    top:0;
    z-index:10;
}
.container-header{
    width:100%;
    height: 100%;
    padding:0 15px;
}
.header-left{
    float: left;
    padding: 1.3% 0 0 10px;
}
.name-logo{
    font-size: 220%;
    color: white;
}
.header-right{
    float: right;
    position: relative;
    width: 78px;
    height: 85px;
    left: -50px;
    background-color:  rgb(24, 85, 97);
    transition: all 0.5s;
}
.header-right .login{
    height: 67px;
    padding: 30px 25px 0 45px;
    color: white;
    cursor: pointer;
    display: block;
}
.humberger {
  position: relative;
  height: 32px;
  width: 28px;
  display: inline-block;
  box-sizing: border-box;
}
.humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 28px;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
.humberger div:nth-of-type(1) {
  top: 0;
}
.humberger div:nth-of-type(2) {
  top: 8px;
}
.humberger div:nth-of-type(3) {
  top: 16px;
}
.humberger div:nth-of-type(4) {
  top: 24px;
}

/*How_to*/
.How_head{
    color:black;
    font-size:400%;
    margin:0;
}

/*address*/
.address{
    height: 100%;
    width: 100%;
    background-color:white;
}
.contact_address{
    color: black;
    font-size:30px;
    padding: 50px 0 30px 0;
    text-align: center;
}
.contact_address img{
    position:relative;
    top:-53px;
    left:-300px;
    height:65px;
    width:80px;
    
}
/*address*/

/*nummber*/
.number{
    height: 100%;
    width: 100%;
    background-color:white;
}
.contact_number{
    color: blue;
    font-size:30px;
    padding: 30px 0 10px 0;
    text-align: center;
}
.contact_number img{
    position:relative;
    top:-53px;
    left:-300px;
    height:65px;
    width:100px;
    
}
/*nummber*/

/*honda*/
.top-wrapper{
    width: 100%;
    height: 500px;
    padding: 180px 0 150px 0;
    background-image: url(../img/calling.jpeg);
    background-size: cover;
    text-align:center;    
}