body{
    margin: 0;
}
/*見出し*/
.ovi{
    height:85px;
    width:100%;
    background-color:  rgb(24, 85, 97);
    position: fixed;
    top:0;
    z-index:10;
}
.container-header{
    height: 100%;
    padding:0 15px;
}
.header-left{
    float: left;
    padding: 1.3% 0 0 10px;
}
.name-logo{
    font-size: 220%;
    color: white;
}
.header-right{
    float: right;
    background-color:  rgb(24, 85, 97);
    transition: all 0.5s;
}
.header-right:hover {
    background-color: rgba(255,255,255,0.5);
}
.header-right .login{
    height: 67px;
    padding: 18px 25px 0 25px;
    color: white;
    cursor: pointer;
    display: block;
}
.humberger {
    position: relative;
    top: 20%;
    height: 32px;
    width: 28px;
    display: inline-block;
    box-sizing: border-box;
}
.humberger div {
    position: absolute;
    left: 0;
    height: 4px;
    width: 28px;
    background-color: white;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
}
.humberger div:nth-of-type(1) {
    top: 0;
}
.humberger div:nth-of-type(2) {
    top: 8px;
}
.humberger div:nth-of-type(3) {
    top: 16px;
}
.humberger div:nth-of-type(4) {
    top: 24px;
}
/*見出し*/

/*top-wrapper*/
.How_head{
    color:black;
    font-size:400%;
    margin:0;
}
.top-wrapper{
    width: 100%;
    height: 500px;
    padding: 180px 0 150px 0;
    background-image: url(../img/calling.jpeg);
    background-size: cover;
    text-align:center;    
}
/*top-wrapper*/

/*address*/
.address{
    height: 80%;
    width: 100%;
    background-color:#BC8F8F;
}
.contact_address{
    color:#800000 ;
    font-size:30px;
    padding-top: 30px;
    text-align: center;
}
.mail{
    width:3.3%;
    
}
.ad{
    width: 20%;
}
/*address*/

/*nummber*/
.number{
    height: 100%;
    width: 100%;
    background-color:#87CEFA;
}
.contact_number{
    color: blue;
    font-size:30px;
    padding-top: 30px;
    text-align: center;
}
.tell{
    width:5%;
}
.numb{
    width: 20%;
}
/*nummber*/

/*link*/
.link-comment{
    width: 100%;
    height: 100%;
    text-align: center;

}
.comment{
    color: #5f5d60;
    font-size:1.17em;
    padding: 50px 0 30px 0;
}
.btn{
    color: white;
    border-radius: 4px;
    display: inline-block;
}
.message{
    padding: 15px 0;
    background-color: #B3B3B3;
    cursor: pointer;
    box-shadow: 0px 7px #828282;
}
/*link*/

/*menu*/
#signup-form, #login-form {
  width: 100%;
}
#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}
.login-modal-wrapper, .signup-modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}
/*共通メニュー1*/
.category1{
    font-family: 'Press Start 2P', cursive;
    margin-left: -30px;
}
/*共通メニュー2*/
.category2{
    font-family: 'Fredoka One', cursive;
    font-size:200%;
    margin-left: -40px;
}
/*共通メニュー*/
.fa {
  margin-right: 5px;
}
.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}
ul {
    list-style-type: none;
    font-size:120%;
    padding-right:25px;
}
/*menu*/

/*footer*/
footer{
    margin-top: 5%;
    width: 100%;
    background-color: rgb(24, 85, 97);
    color: white;
}
.footer{
    padding: 20px 0 0 10px;
    font-size: 15px;
}
.footer_e{
    padding: 0 0 20px 10px;
    font-size: 15px;
}